<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>Phase2_Project_Learner_Academy</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Dashboard</display-name>
    <servlet-name>Dashboard</servlet-name>
    <servlet-class>Dashboard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dashboard</servlet-name>
    <url-pattern>/dashboard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddStudent</display-name>
    <servlet-name>AddStudent</servlet-name>
    <servlet-class>AddStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStudent</servlet-name>
    <url-pattern>/AddStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddSubject</display-name>
    <servlet-name>AddSubject</servlet-name>
    <servlet-class>AddSubject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSubject</servlet-name>
    <url-pattern>/AddSubject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddTeacher</display-name>
    <servlet-name>AddTeacher</servlet-name>
    <servlet-class>AddTeacher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTeacher</servlet-name>
    <url-pattern>/AddTeacher</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddClass</display-name>
    <servlet-name>AddClass</servlet-name>
    <servlet-class>AddClass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddClass</servlet-name>
    <url-pattern>/AddClass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClassReport</display-name>
    <servlet-name>ClassReport</servlet-name>
    <servlet-class>ClassReport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClassReport</servlet-name>
    <url-pattern>/ClassReport</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AssignClass</display-name>
    <servlet-name>AssignClass</servlet-name>
    <servlet-class>AssignClass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssignClass</servlet-name>
    <url-pattern>/AssignClass</url-pattern>
  </servlet-mapping>
</web-app>